<!DOCTYPE html>  
<html>  
  <head>  
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
  </head>  
  <body>
<h1>Welcome#index</h1>
<h1 style="margin-left: 100px;">Ivanov ivan ivanovich</h1>
<div >
      <div >
        <a rel="nofollow" href><%= link_to(image_tag("vizxhKbqrwE.jpg", :alt => "Promo Image", :style => "margin-left: 100px; margin-right: 40px; width:500px; float:left;"),
        "#")%></a>
      </div>
      <div >
      <p><font size="7">
      <%= link_to("About me", "#")%><br>
      <%= link_to("My portfolio", "#")%><br>
      <%= link_to("Make order", "#")%><br>
      <%= link_to("Contacts", "#")%><br></font>
      </p>
      </div>
    </div>
</body>
</html>