<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p> Some info </p>

<table>
  <tr>
  <td>Ivanov Ivan Ivanovich</td><td></td>
  </tr>
  <tr>
  <td align="center" rowspan="10"><div><%= link_to(image_tag("vizxhKbqrwE.jpg", :alt => "Promo Image"),
"#")%></div></td>
  <td align="left"><%= link_to("About me", "#")%></td>
  </tr> 

  <tr><td align="left" width="100"><%= link_to("My portfolio", "#")%></td></tr>
  <tr><td align="left" width="100"><%= link_to("Make order", "#")%></td></tr>
  <tr><td align="left" width="100"><%= link_to("Contacts", "#")%></td></tr>
  <tr><td height="50">          </td></tr>
  <tr><td height="50">          </td></tr>
  <tr><td height="50">          </td></tr>
  <tr><td height="50">          </td></tr>
  <tr><td height="50">          </td></tr>
  <tr><td height="50">          </td></tr>
  <tr><td height="50">          </td></tr>
  
</table>



<h1>Ivanov ivan ivanovich</h1>
<p>
<a><%= link_to(image_tag("vizxhKbqrwE.jpg", :alt => "Promo Image", :style => "margin-right: 10px;", :width => 300, :height => 300),
"#")%></a>
<%= link_to("About me", "#")%><br>
<%= link_to("My portfolio", "#")%><br>
<%= link_to("Make order", "#")%><br>
<%= link_to("Contacts", "#")%><br>
</p>
